
// COLORS

$color-primary: #091037;
$color-secondary: #ff5b77;

$color-white: #fff;


$color-grey: #5b5e75;

$color-cyan: #c0eff6;










// FONTS

$font-family-main: "Nunito";
$font-family-second: "sans-serif";
$default-font-size: 1.6rem;

// GRID SYSTEM

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;